streamlit
streamlit-autorefresh
streamlit-pdf-viewer
torch
beautifulsoup4
streamlit-option-menu
numpy
pillow
dnspython
PyPDF2
pdfplumber
pytesseract
pdf2image
Pillow
psycopg2-binary

matplotlib
pytz
pdfkit
pdf2image
pymupdf
plotly
python-docx
pytesseract
nltk
easyocr
bcrypt
python-dotenv
tabulate

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
xhtml2pdf
